.banner-wrapper,
.banner-content {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 250px;
}

.banner-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content h1{
    color: #FFF;
    margin-top: 80px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
}
